<div class="container forms">
  <h1 class="text-center info-banner center-block">Add a Tshirt!</h1>

  <%= form_for @tshirt do |f| %>

    <div class="half center-block">
      <div class="form-group">
        <%= f.label(:name, "Name") %>
        <%= f.text_field :name, placeholder: "Name" %>
      </div>
      <div class="form-group">
        <%= f.label(:image, "Upload an image of the Tshirt") %>
        <%= f.file_field :image %>
      </div>

      <br>

      <%= f.submit "Add new Tshirt", class: "btn btn-default center-block" %>

    </div>
  <% end %>
</div>