<div class="container">
  <h1 class="text-center info-banner center-block">Edit your account</h1>

  <%= form_for @user do |f| %>

    <div class="half center-block">

      <div class="form-group">
        <%= f.label(:username, "Username") %>
        <%= f.text_field :username, :required => true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label(:email, "Email Address (must use valid format -- eg: email@domain.tld)") %>
        <%= f.email_field :email, :required => true, class: "form-control" %>
      </div>
      <div class="form-group half center-block">
        <%= f.label(:password, "Password (minimum 8 characters)") %>
        <%= f.password_field :password, placeholder: "Example: p@$w0rd!", :required => true, class: "form-control" %>
      </div>
      <div style="display:inline-block">
        <%= f.submit "Update Profile", class: "btn btn-default center-block" %>
      </div>
      
    </div>

  <% end %>
  
  <br>

  <div style="display:inline-block">
    <%= button_to "Delete", @user, :data => {:confirm => 'Are you sure you want to delete your account?'}, method: :delete, class: "btn btn-danger" %>
  </div>

</div>