<div class="container-fluid profile">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-1" style="text-align:center">
      <%= image_tag current_user.avatar.url, class: "img-responsive" %>
      <hr>
      <h3 class="text-muted">
        Username: <%= current_user.username %>
      </h3>

      <hr>
      <% if current_user.tshirts.count > 0 %>
      <h4>
        <strong><%= link_to "Your t-shirt's votes", voting_path(current_user) %></strong>
      </h4>
      <% else %>
      <h4>
        <strong><%= link_to "Add some t-shirts!", user_tshirts_path(current_user) %></strong>
      </h4>
      <% end %>
    </div>
    
    <br>
    <br>

    <div class="col-lg-8" style="text-align:center">

      <!-- Checks to see if other users exist -->
      <% if @users.where.not(:id => current_user.id).exists? %>

        <!-- Sets tshirt_exists variable to false -->
        <% tshirt_exists = false %>

        <!-- If other users exist, runs this loop for all of them -->
        <% @users.where.not(:id => current_user.id).each do |user| %>

          <!-- Then for each user with t-shirts, generates link to their respective vote page -->
          <% if user.tshirts.count > 0 %>
            
            <p>
              <h3><%= link_to "Vote on #{user.username}'s T-shirts!", voting_path(user) %></h3>
            </p>
            <br>

            <!-- Since user.tshirts.count is > 0, sets tshirts_exist to true -->
            <% tshirt_exists = true %>
          <% end %>
          
        <% end %>

        <!-- Checks tshirt_exists boolean; if no other user had tshirts, prints -->
        <% unless tshirt_exists %>
          <h2 style="color: red; font-weight: bold">Ruh roh! No one else has bothered to upload any t-shirts.
          <br>
          <br>
          Shame on them, SHAAAAAAAME! They've gone done made the polar bear sad :(</h2>
          <br>
          <%= image_tag("shame.jpg") %>
        <% end %>

      <!-- Otherwise, if no other users exist besides current_user -->
      <% else %>
        <br>
        <br>
        <h2 style="color: red; font-weight: bold">Oh noes: no other users! Invite your friends to sign up, yo!</h2>
      <% end %>

    </div>
  </div>
</div>